body {
  background-color: white !important;
}

.bg-one {
  background-color: transparent;
}

.hero-area {
  height: 30vh;
}

.hero-area .block h1 {
  font-size: 25px;
}

#navigation {
  background-color: #fff;
  border-bottom: 3px solid #772021;
}

.navigation .navigation-menu li a {
  color: #292f36;
}

.navigation .navigation-menu li a.active {
  color: #772021;
}

.navbar-brand {
  font-size: 1.1rem;
}

.navbar-toggler {
  position: relative;
}

.navbar-toggler:focus{
  outline-color: white;
}

a {
  color: #212529;
}

.picture {
  width: 100%;
  height: 60vh;
  background: url("/images/backgrounds/sacramento-iphone.jpeg");
}


.about h3 {
  color: #212529;
}

.logo {
  width: 107px;
  height: 40px;
  position: relative;
  overflow: hidden;
}

.logo span {
  position: absolute;
  left: 40px;
}

.navbar-menu-label {
  position: absolute;
  left: -55px;
  top: 9px;
  color: #212529;
}

.title h2 {
  color: #212529;
}

.title h2 span {
  color: #201e48;
}

.border-meghna:before {
  background-color: #201e48;
}

.cta-block {
  padding: 60px 20px;
      border-left: 1px solid rgba(236,239,241,.07);
      border-top: 1px solid rgba(236,239,241,.07);
      margin-bottom: 40px;
      box-shadow: 2px 2px 5px rgba(44,44,44,.3), 13px 13px 0 rgba(255,255,255,.7);
  background-color: white;
  }

.about .block {
  background: none;
}

.about .block .content h3 {
  color: #212529;
}

.service-block {
  width: 350px;
  height: 500px;
}

.custom-repairs::before {
  content: url("/images/services/repairs.jpg");
}

.custom-reroofs::before {
  content: url("/images/services/reroofs.jpg");
}

.custom-commercial::before{
  content: url("/images/services/commercial.jpg");
}

.custom-residential::before {
  content: url("/images/services/residential.jpg");
}

.custom-products::before {
  content: url("/images/services/products.jpg");
}
