{{ if .Site.Data.service.enable}}
{{"<!-- service -->" | safeHTML }}
<section class="bg-one section">
  <a class="anchor" id="services"></a>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML }}
                <div class="title text-center">
                    <h2>{{ with .Site.Data.service.heading }} {{ . }} {{ end }}{{ with .Site.Data.service.headingSpan }} {{ . }} {{ end }}</h2>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML }}

            {{ range .Site.Data.service.serviceItem}}
            {{"<!-- Single Service Item -->" | safeHTML }}
            <article class="col-lg-4 col-md-6 col-12">
                <div class="service-block">
                    <!--<div class="service-icon text-center">
                        <img src="images\services\{{ .image }}.jpg" alt="Example of our {{ .image }} service."></img>
                    </div> -->
                    <h3>{{ .title }}</h3>
                    <p>{{ .content }}</p>
                </div>
            </article>
            {{"<!-- End Single Service Item -->" | safeHTML }}
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /service -->" | safeHTML }}
{{ end }}
